* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #545f7d;
  color: rgb(104, 102, 102);
}

.main-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

